* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
}

img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 2.5em;
}

p {
  font-size: 1.25em;
  font-weight: 500;
}

.hero,
.intro,
.outro {
  height: 100vh;
  padding: 2em;
  position: relative;
  width: 100vw;
}

.hero {
  padding: 0;
}

.intro,
.outro {
  align-items: center;
  background-color: #fff;
  display: flex;
}

.intro h1,
.outro h1 {
  margin-bottom: 0;
}

.card {
  position: relative;
}

.card-inner {
  display: flex;
  gap: 4em;
  height: 100vh;
  padding: 2em;
  position: relative;
  width: 100%;
  will-change: transform;
}

.card-content {
  flex: 3;
}

.card-img {
  aspect-ratio: 16 / 9;
  border-radius: 0.75em;
  flex: 1;
  overflow: hidden;
}

#card-1 .card-inner {
  background-color: #c3abff;
}

#card-2 .card-inner {
  background-color: #fff;
}

#card-3 .card-inner {
  background-color: #fed35b;
}

#card-4 .card-inner {
  background-color: #1e1e1e;
  color: #fff;
}

#card-5 .card-inner {
  background-color: #44bba4;
}

@media (max-width: 900px) {
  h1 {
    margin-bottom: 4rem;
  }

  .card-img,
  .card-content p {
    display: none;
  }

  .card {
    height: 300px;
  }
}
