@import '@fontsource/mulish/index.css';
@import '@fontsource/source-code-pro/index.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Mulish', sans-serif;
  height: 100vh;
  width: 100vw;
}

img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.heading {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 2.5em;
}

p {
  font-size: 1.25em;
  font-weight: 500;
}

.intro,
.outro {
  height: 100vh;
  padding: 2em;
  position: relative;
  width: 100vw;
}

.intro,
.outro {
  align-items: center;
  background-color: #fff;
  display: flex;
}

.intro h1,
.outro h1 {
  margin-bottom: 0;
}

@media (max-width: 900px) {
  h1 {
    margin-bottom: 4rem;
  }
}
